@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 36 33% 97%;
      --foreground: 222.2 84% 4.9%;
      --card: 36 33% 97%;
      --card-foreground: 222.2 84% 4.9%;
      --popover: 36 33% 97%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 42 79% 64%;
      --primary-foreground: 0 0% 100%;

      --secondary: 28 96% 65%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 36 33% 93%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 0 72% 58%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      --border: 36 33% 90%;
      --input: 36 33% 90%;
      --ring: 42 79% 64%;
      --radius: 1rem;

      --chart-1: 36 33% 97%;
      --chart-2: 42 79% 64%;
      --chart-3: 28 96% 65%;
      --chart-4: 0 72% 58%;

    }

    .dark {
      --background: 28 30% 20%;
      --foreground: 36 33% 97%;
      --card: 28 30% 20%;
      --card-foreground: 36 33% 97%;
      --popover: 28 30% 20%;
      --popover-foreground: 36 33% 97%;

      --primary: 42 65% 54%;
      --primary-foreground: 36 33% 97%;

      --secondary: 28 76% 55%;
      --secondary-foreground: 36 33% 97%;

      --muted: 28 30% 30%;
      --muted-foreground: 36 33% 87%;

      --accent: 0 62% 48%;
      --accent-foreground: 36 33% 97%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 36 33% 97%;
      --border: 28 30% 30%;
      --input: 28 30% 30%;
      --ring: 42 65% 54%;


      --chart-1: 36 33% 87%;
      --chart-2: 42 65% 54%;
      --chart-3: 28 76% 55%;
      --chart-4: 0 62% 48%;
      --chart-5: 28 30% 40%;
    }
  }

  @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
